.location{
    position: absolute;
    top: 15%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 750px;
    background-color: #ffff;
    border: 5px solid #ffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}

